*{
    margin: 0;
    padding: 0;
    
}
body {
    overflow-x: hidden;
}
header {
    display: flex;
    align-items: center;
    /* background-color:antiquewhite ; */
    padding: 1px 0;
}
.navleftSide{
    flex: 1;
    padding: 22px 0 ;
    /* background-color: red; */
}
.logo{
    margin: 15px;
}
.navcenter{
    flex: 2.5;
    padding: 22px 0 ;
    /* background-color: rgb(170, 170, 192); */
}
.navrightSide{
    display: flex;
    /* flex: 1.3; */
    padding: 22px 50px ;
    /* background-color: brown; */
    
}
.contact{
    border: 1px solid #d6d6d6;
    width:180px;
    height:50px;
    text-align: center;
    padding: 10px;
   
   
}
    
   

.contact a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #585858;
    display: flex;
    margin-top: 3px;
    
}
.contact img{
    width:15px;
    height:15px;
    padding-left: 10px;
    padding-right: 10px;
}



.navcenter ul{
    display: flex;
    list-style: none;
    padding-left: 18px;
}
.navcenter ul li{
margin: 8px;
}
.navcenter ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    }
    .signup{
        padding: 15px 20px;
        
    }
    .search{
        padding: 15px 0px;
    }
   
    .section1{
        margin-bottom: 25px;
        flex-direction: row;
    }
    .section1 img{
        width:100%;
    }
    .section2{
        display: flex;
       
        display: flex;
        flex: 1;
        
        
        
       }
       .section2 img{
        width:100%;
       }
       .photoa{
        width: 33.333%;
        
       }

       .photob{
        width: 33.333%;
        
       }
       .photoc{
        width: 33.333%;
       }
       .text{
        position: absolute;
        top: 400px;
        left: 60px;
       
       }
       
       
       .search img{
        width:15px;
        height:15px;
        padding-top: 3px;
        margin-left: -5px;
       }

        
       .photoa h2{
        position: absolute;
        top: 935px;
        left: 60px;
        font-family: "Lato Black",sans-serif;
        font-size: 36px;
        color: #fff;
        font-weight: 500;
       }
       .photoa p{
        position: absolute;
        top: 980px;
        left: 60px;
        font-family: "Lato Black",sans-serif;
        font-size: 14px;
        color: #fff;
       }
       .button1{
        background-color: #d61f26;
       border: none;
       width: 90px;
       height: 40px;
       font-family: "Lato Black",sans-serif;
       font-size: 12px;
       color: #fff;
       position: absolute;
       top: 1035px;
       left: 60px;
       }
       .photob h2{
        position: absolute;
        top: 925px;
        left: 515px;
        font-family: "Lato Black",sans-serif;
        font-size: 36px;
        color: #fff;
        font-weight: 500;
        
    }
    .photob p{
        padding-left: 10px;
    }
    .channels{
        padding-right: 10px;


    }

    .photob p{
        position: absolute;
        top: 970px;
        left: 510px;
        font-family: "Lato Black",sans-serif;
        font-size: 14px;
        color: #fff;
    }
    .photob a{
        font-family: "Lato Black",sans-serif;
        text-decoration: none;
        font-size: 12px;
        color: #fff;
        border: 1px solid #d6d6d6;
        width: 125px;
        height:50px;
        /* text-align: center; */
        padding: 10px;
       }
       .option1{
            /* background-color: aqua; */
            width: 160px;
            
            position: absolute;
            top: 1035px;
            left: 520px;
       }
       .option2{
        /* background-color: rgb(197, 148, 56); */
        width: 60px;
        position: absolute;
        top: 1035px;
        left: 697PX;
        }
        .option3{
            /* background-color: rgb(56, 197, 87); */
            width: 100px;
            position: absolute;
            top: 1035px;
            left: 770PX;
            }
            .option4{
                /* background-color: rgb(56, 197, 87); */
                width: 100px;
                position: absolute;
                top: 1035px;
                left: 882PX;
                }
        .photoc h3{
             position: absolute;
            top: 940px;
            left: 1070px; 
            font-family: "Lato Black",sans-serif;
            font-size: 36px;
            color: #fff;
            font-weight: 500;
        }       
        .photoc p{
            position: absolute;
            top: 985px;
            left: 1075px;
            font-family: "Lato Black",sans-serif;
            font-size: 14px;
            color: #fff;
        }
        .button2{
            background-color: #d61f26;
           border: none;
           width: 90px;
           height: 40px;
           font-family: "Lato Black",sans-serif;
           font-size: 12px;
           color: #fff;
           position: absolute;
           top: 1025px;
           left: 1075px;
        }
        .section3{
            display: flex;
            margin-top: -4px;
            width:100%;
            
        }
        .section3 img{
            width:100%;
            height:112%;
        }
        
        
        .button3{
            background-color: #d61f26;
           border: none;
           width: 90px;
           height: 40px;
           font-family: "Lato Black",sans-serif;
           font-size: 12px;
           color: #fff;
           position: absolute;
           top: 1410px;
           left: 60px;
           transform: skewX(8deg);
          }
          .button4{
            background-color: #d61f26;
           border: none;
           width: 90px;
           height: 40px;
           font-family: "Lato Black",sans-serif;
           font-size: 12px;
           color: #fff;
           position: absolute;
           top: 1410px;
           left: 450px;
           transform: skewX(8deg);
          }
          .button5{
            background-color: #d61f26;
           border: none;
           width: 90px;
           height: 40px;
           font-family: "Lato Black",sans-serif;
           font-size: 12px;
           color: #fff;
           position: absolute;
           top: 1410px;
           left: 830px;
           transform: skewX(8deg);
          }
          .button6{
            background-color: #d61f26;
           border: none;
           width: 90px;
           height: 40px;
           font-family: "Lato Black",sans-serif;
           font-size: 12px;
           color: #fff;
           position: absolute;
           top: 1410px;
           left: 1195px;
           transform: skewX(8deg);
          }
        .section4{
            width: 100%;
            height: 200px;
            text-align: center;
            padding-top: 75px;
        }
        .section4 p{
            font-weight: 600;
            color: #171717;
             margin: 0;
            line-height: .8;
            font-size: 24px;
            padding-top: 45px;
        }
        .section4 h2{
            font-family: "Lato Black",sans-serif;
            font-weight: 600;
            font-size: 80px
        }
        .section5{
            width: 100%;
            height: 300px;
            background-color: aqua;
            display: flex;
            position: relative;
        }
        .car1{
            width: 25%;
            height: 300px;
            background-color: rgb(76, 0, 255);
            background-image: url(https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/car/car-tags/brezza-dor-new-brzza-mmc.jpg);
            background-position: right;
            background-size: cover;
        }
        .car1 h2{
            position: absolute;
            top: 255px;
            /* left: 60px; */
            color: #fff;
            font-family: "Lato Black",sans-serif;
            font-size: 27px;
            font-weight: 700;
            left: 85px; 
            line-height: 1.2
        }
        .car2{
            width: 25%;
            height: 300px;
            background-color: rgb(196, 123, 63);
            background-image: url(https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/car/car-tags/indulgence/500x305/copy-of-500x305_new-update.jpg);
            background-position: right;
            background-size: cover;
        }
        .car2 h2{
            position: absolute;
            top: 255px;
            /* left: 462px; */
            color: #fff;
            font-family: "Lato Black",sans-serif;
            font-size: 27px;
            font-weight: 700;
            left: 462px; 
            line-height: 1.2
        }
        .car3{
            width: 25%;
            height: 300px;
            background-color: rgb(215, 224, 77);
            background-image: url(https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/car/car-tags/performance/swift/swift/new-banner-3-home-page.jpg);
            background-position: center;
            background-size: cover;
        }
        .car3 h2{
            position: absolute;
            top: 255px;
            /* left: 462px; */
            color: #fff;
            font-family: "Lato Black",sans-serif;
            font-size: 27px;
            font-weight: 700;
            left: 845px; 
            line-height: 1.2
        }
        .car4{
            width: 25%;
            height: 300px;
            background-color: rgb(117, 16, 92);
            background-image: url(https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/car/car-tags/technology/alto-800-1/alto-800-2.jpg);
            background-position: left;
            background-size: cover;
        }
        .car4 h2{
            position: absolute;
            top: 255px;
            /* left: 462px; */
            color: #fff;
            font-family: "Lato Black",sans-serif;
            font-size: 27px;
            font-weight: 700;
            left: 1280px; 
            line-height: 1.2
        }
        .section6{
            width: 100%;
            height: 300px;
            background-color: aqua;
            display: flex;
            position: relative;
        }
        .car5{
            width: 25%;
            height: 300px;
            background-color: rgb(76, 0, 255);
            background-image: url(https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/car/car-tags/progressive/ignis.jpg);
            background-position: right;
            background-size: cover;
        }
        .car5 h2{
            position: absolute;
            top: 255px;
            /* left: 60px; */
            color: #fff;
            font-family: "Lato Black",sans-serif;
            font-size: 27px;
            font-weight: 700;
            left: 85px; 
            line-height: 1.2
        }
        .car6{
            width: 25%;
            height: 300px;
            background-color: rgb(196, 123, 63);
            background-image: url(https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/car/car-tags/substance/baleno/2balenojpg2/2-baleno/2-baleno.jpg);
            background-position: center;
            background-size: cover;
        }
        .car6 h2{
            position: absolute;
            top: 255px;
            /* left: 462px; */
            color: #fff;
            font-family: "Lato Black",sans-serif;
            font-size: 27px;
            font-weight: 700;
            left: 520px; 
            line-height: 1.2
        }
        .car7{
            width: 25%;
            height: 300px;
            background-color: rgb(215, 224, 77);
            background-image: url(https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/car/car-tags/range-of-shot-ciaz.jpg);
            background-position: center;
            background-size: cover;
        }
        .car7 h2{
            position: absolute;
            top: 255px;
            /* left: 462px; */
            color: #fff;
            font-family: "Lato Black",sans-serif;
            font-size: 27px;
            font-weight: 700;
            left: 840px; 
            line-height: 1.2
        }
        .car8{
            width: 25%;
            height: 300px;
            background-color: rgb(117, 16, 92);
            background-image: url(https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/car/car-tags/indulgence/s-cross/s-cross-new/s-cross-new/s-cross-new.jpg);
            background-position: center;
            background-size: cover;
        }
        .car8 h2{
            position: absolute;
            top: 255px;
            /* left: 462px; */
            color: #fff;
            font-family: "Lato Black",sans-serif;
            font-size: 27px;
            font-weight: 700;
            left: 1155px; 
            line-height: 1.2
        }


    .section7{
        width: 100%;
        height: 50px;
        background-color: #f5f5f5;
        padding: 15px;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;
        color: #f5f5f5;
    }
    .section7 a{
        font-family: "Lato Black",sans-serif;
        font-size: 27px;
        text-decoration: none;
        color: #d71e24;
        
    }

    .section8{
        width: 100%;
        height: 800px;
        background-color: aqua;
        
    }
    .section8 h2{
     text-align: center;
     padding-top: 70px;
     font-family: "Lato Black",sans-serif;
     font-weight: 600;
     font-size: 24px;
    text-align: center;
    color: #171717;
    } 
    .section8 h3{
        text-align: center;
        padding-top: 5px;
        font-family: "Lato Black",sans-serif;
        font-weight: 600;
        font-size: 90px;
       text-align: center;
       color: #171717;
       
    }
    .section8{
        background-image: url('https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/modules/basic-module/home/our-value-bg.jpg');
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .customer1{
        width: 170px;
        height: 60px;
    }
    .inner-image1{
        position: absolute;
        top: 265px;
        left: 230px;
        list-style: none;
        }
    .inner-image2{
        position: absolute;
        top: 265px;
        left: 440px;
        list-style: none;
        }
        .inner-image3{
            position: absolute;
            top: 265px;
            left: 660px;
            list-style: none;
            }
   
        .inner-image4{
            position: absolute;
            top: 265px;
            left: 915px;
            list-style: none;
            }
            .inner-image5{
                position: absolute;
                top: 265px;
                left: 1145px;
                list-style: none;
                }
            .work-with-us{
                background-color: #d61f26;
                border: none;
                width: 130px;
                height: 40px;
                font-family: "Lato Black",sans-serif;
                font-size: 12px;
                color: #fff;
                position: absolute;
                top: 440px;
                left: 605px;
                }
            .train-with-us{
                background-color: #d61f26;
                border: none;
                width: 130px;
                height: 40px;
                font-family: "Lato Black",sans-serif;
                font-size: 12px;
                color: #fff;
                position: absolute;
                top: 440px;
                left: 760px;
                }      
                
            .section9{
                width: 100%;
                height: 500px;
                background-color: #168f20;
                background: url('https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/modules/basic-module/home/counter-bg.jpg');
                background-position: center;
                background-size: cover;
                position: relative;
            }
            .meter{
                width: 560px;
                height: 130px;
                background-color: #fff;
                position: absolute;
                top: 100px;
                left: 160px;
                display: flex;
                justify-content:space-around;
            }
            .meter h1{
                font-size: 120px;
                font-family: "Lato Light",sans-serif;
                color: #fff;
                font-weight: 100;
                text-align: left;
            }
            .num{
                background-color: #000000;
            }
            .counting-text{
                /* background-color: #168f20; */
                width: 340px;
                height: 30px;
                text-align: center;
                position: absolute;
                top: 240px;
                left: 285px;
                font-size: 18px;
                font-family: "Lato Light",sans-serif;
            }
            .service{
                /* background-color: #d61f26; */
                width: 290px;
                height: 145px;
                position: absolute;
                top: 100px;
                left: 800px;
                border-left: solid #e5e5e5;
                border-right: solid #e5e5e5;
            }
            .service h1{
                font-size: 68px;
                font-weight: 100;
                font-family: "Lato Black",sans-serif;
                text-align: center;
            }
            .service p{
                font-size: 22px;
                font-weight: 100;
                font-family: "Lato Black",sans-serif;
                text-align: center;
            }
            .showrooms{
                /* background-color: #d61f26; */
                width: 290px;
                height: 145px;
                position: absolute;
                top: 100px;
                left: 1105px;
            }
            .showrooms h1{
                font-size: 68px;
                font-weight: 100;
                font-family: "Lato Black",sans-serif;
                text-align: center;
            }
            .showrooms p{
                font-size: 22px;
                font-weight: 100;
                font-family: "Lato Black",sans-serif;
                text-align: center;
            }
            .visit{
                background-color: #d61f26;
                border: none;
                width: 180px;
                height: 40px;
                font-family: "Lato Black",sans-serif;
                font-size: 12px;
                color: #fff;
                position: absolute;
                top: 440px;
                left: 590px;
            }
            .booking-service{
                background-color: #d61f26;
                border: none;
                width: 180px;
                height: 40px;
                font-family: "Lato Black",sans-serif;
                font-size: 12px;
                color: #fff;
                position: absolute;
                top: 440px;
                left: 790px;
            }
            .footer{
                width: 100%;
                height: auto;
                background-color: #000;
            }
            .footer-f1{
                /* background-color: #168f20; */
                width: 100%;
                height: 300px;
                display: flex;
                position: relative;
                
            }
            .reach-us{
                /* background-color: #30168f; */
                width: 540px;
                height: 400px;
                
            }
            .corporate{
                /* background-color: #caa732; */
                width: 230px;
                height: 400px;
            }
            .sales{
                /* background-color: #15567c; */
                width: 230px;
                height: 400px;
            }
            .more-from-us{
                /* background-color: #90bd15; */
                width: 230px;
                height: 400px;
            }
            .logos{
                /* background-color: #1596bd; */
                width: 415px;
                height: 400px;
            }
            .footer-f2{
                /* background-color: #cf425a; */
                width: 100%;
                height: 300px;
                
            }
            
            .footer-f3{
                /* background-color: #5c2a9e; */
                width: 100%;
                height: 75px;
            }
            .reach-us h1{
                position: absolute;
                top: 50px;
                left: 20px;
                font-family: "Lato Regular",sans-serif;
                color: #fff;
                font-weight: 500;
                line-height: 1.2;
            }
            .reach-us h5{
                position: absolute;
                top: 100px;
                left: 20px;
                font-family: "Lato Regular",sans-serif;
                color: #fff;
            }
            .reach-us h6{
                position: absolute;
                top: 140px;
                left: 20px;
                font-family: "Lato Regular",sans-serif;
                color: #fff;
            }
            .locate-a-dealer{
                background-color: #fff;
                border: none;
                width: 180px;
                height: 30px;
                font-family: "Lato Black",sans-serif;
                font-size: 12px;
                color: #000;
                position: absolute;
                top: 250px;
                left: 20px;
            }
            .book-showroom-visit{
                background-color: #fff;
                border: none;
                width: 180px;
                height: 30px;
                font-family: "Lato Black",sans-serif;
                font-size: 12px;
                color: #000;
                position: absolute;
                top: 250px;
                left: 225px;
            }
            .corporate ul li{
                list-style: none;
                font-family: "Lato Black",sans-serif;
                color: #fff;
            }
                
            .ctext:hover{
                cursor: pointer;
                text-decoration: underline;
            }
            .corporate .cheading{
                margin-top: 50px;
                padding-left: 10px;
                font-family: "Lato Black",sans-serif;
                color: #fff;
                font-weight: 500;
                font-size: 17px;
            }
            .corporate .ctext{
                margin-top: 10px;
                padding-left: 10px;
            }
            .sale ul li{
                list-style: none;
                font-family: "Lato Black",sans-serif;
                color: #fff;
                padding-top: 10px;
            }
            .stext:hover{
                cursor: pointer;
                text-decoration: underline;
            }
            .sale ul{
                margin-top: 40px;
                margin-left:10px;
                
            }
            .more ul li{
                list-style: none;
                font-family: "Lato Black",sans-serif;
                color: #fff;
                padding-top: 10px;
            }
            .stext:hover{
                cursor: pointer;
                text-decoration: underline;
            }
            .more h5{
                font-family: "Lato Black",sans-serif;
                color: #fff;
            }
            .more{
                margin-top: 45px;
                margin-left:10px;
            }
            .footer-f3{
                display:flex;
                justify-content: space-between;
                text-align: center;
                padding-top: 30px; 
                font-family: "Lato Black",sans-serif;
                color: #fff;


            }
            .left h4{
                margin-left:30px;
                margin-top: 20px;
            }
            .footer-right {
                display: flex;
                padding-left: 10px;
                
            }
            .footer-right h4{
                margin: 20px;
            }
            .logos-f1{
                text-align: right;
                margin-right: 10px;
                padding-top:30px;
                
            }
            .logos-f1 h3{
                margin-top: 10px;
                font-family: "Lato Black",sans-serif;
                color: #fff;
            }
            .logos-img{
                margin-top: 10px;
            }
            .footer-f2 p{
                margin-top:15px;
            }
            .footer-content{
                padding-top:60px;
            }
            .footer-content{
                font-family: "Lato Black",sans-serif;
                color: #fff;
            }

           


            


    